
# Виртуальне оточення
.venv/
venv/
env/

# Токени
.env
openai-token.txt
telegram-token.txt
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# PyCharm
.idea/
*.iml

# Логи
*.log

# OS
.DS_Store
Thumbs.db

# Тимчасові файли
*.tmp
temp/

